In [1]:
import pandas as pd
import numpy as np
import glob as glob
import matplotlib.pyplot as plt

import os
import pickle

## Plot cross corelation values across all moths

In [42]:
df = pd.read_csv('./dataFolder/TrackingData_2022_11_10/ErrorAngle/CrossCor/' + 'allmoths.csv', header = [0,1], index_col=0)

In [43]:
df.columns = pd.MultiIndex.from_tuples(df.columns)
split_index = df.index.to_series().str.split('_', n=1, expand=True)
split_index.columns = ['condition', 'mothID']
new_df = df.reset_index(drop=True)
# new_df = pd.concat([split_index, df], axis=1)

In [44]:
new_df

   nectary-pilifer                     pilifer-body                      \
         maxAtZero       max delTatMax    maxAtZero       max delTatMax
0         0.998189  0.998189         0    -0.677080 -0.677080         0
1              NaN       NaN      -999          NaN       NaN      -999
2         0.997645  0.997645         0    -0.439160 -0.476229       167
3         0.998053  0.998053         0    -0.607310 -0.632570       172
4         0.998588  0.998588         0     0.518439  0.536986       -56
5         0.998739  0.998739         0    -0.969346 -0.969346         0
6         0.998540  0.998540         0     0.829688  0.829688         0
7         0.998954  0.998954         0    -0.438703 -0.546129       191
8              NaN       NaN      -999          NaN       NaN      -999
9         0.999445  0.999445         0    -0.925202 -0.925202         0
10        0.999082  0.999082         0    -0.927349 -0.928585         7
11             NaN       NaN      -999          NaN       NaN      -999
12        0.998882  0.998882         0     0.324924  0.396759      -111
13             NaN       NaN      -999          NaN       NaN      -999
14        0.999204  0.999204         0    -0.633080 -0.663248       113
15        0.999362  0.999362         0     0.665501  0.665501         0
16        0.998205  0.998205         0    -0.203580 -0.317365       182

   nectary-body
      maxAtZero       max delTatMax
0      0.998189  0.998189         0
1           NaN       NaN      -999
2      0.997645  0.997645         0
3      0.998053  0.998053         0
4      0.998588  0.998588         0
5      0.998739  0.998739         0
6      0.998540  0.998540         0
7      0.998954  0.998954         0
8           NaN       NaN      -999
9      0.999445  0.999445         0
10     0.999082  0.999082         0
11          NaN       NaN      -999
12     0.998882  0.998882         0
13          NaN       NaN      -999
14     0.999204  0.999204         0
15     0.999362  0.999362         0
16     0.998205  0.998205         0

In [ ]:
for condition in 

plt.plot()